@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

/* --------- Start - Area common to all sections */
body {
    background: url("../images/milkyway.jpeg");
    background-size: cover;
}

/*----------- Heading */

.heading {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 2rem;
    margin-bottom: 3rem;
    color:blue;
}
/* Main box area where events and interactions take place*/

.game-area {
    background-color: rgba(51,102,153,.6);
    box-sizing: border-box;
    border: solid 1px #fff;
    width: 75%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* Buttons */

.btn {
    width: 100%;
    height: 100%;
    position:relative;
    border-radius: 1.5625rem;
    font-family: 'Teko', sans-serif;
    font-weight: bolder;
    font-size: 1.6rem;
    text-align: center;
    
}

.btn:hover {
    background-color: rgba(128, 238, 128, 0.4);
    Box-shadow: 0 0.4rem 0 rgba(0, 114, 244, 0.6);
    Transition: 150ms;
    Transform: scale(1.01);
}

.btn:focus {
    outline: none;
}
/* --------- End - Area common to all sections */

/* Enter Username Section */

.page-message {
    font-family: 'Teko', sans-serif;
    color:#ff0000;
    font-size: 2.5rem;
    letter-spacing: 1rem;
    text-align: center;
    position: relative;
    margin: auto;
}
#username-input{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
    height: 2rem;   
}
.enter-username{
    width:100%;
    font-family:'Teko', sans-serif; 
    color:#fff;
    font-size:1.5rem;
    text-align:center;
}

/* Intro section with Start Quiz Button*/

#intro-message {
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing:0.6rem;
    color: #ff0000;
    text-align: center;
}

#intro-div p {
    margin:auto;
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    font-weight:400;
    text-align: center;
    color:#ff0000;
    margin-bottom: 5%;
}

.start-btn {
    width: 20%;
    height: 20%;
    position: relative;
    margin-left: 40%;
    margin-right: 50%;
}

/*-----Quiz Area----*/

.question-area {
    width: 75%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
    box-sizing: border-box;
    border: solid 3px #ff0000;
    border-radius: 1.5625rem;
}

.question-area h2 {
    color: #fff;
    font-size: 1.4rem;
    position:relative;
    margin: auto;
    text-align: center;
}

.question{
    width: 98%;  
    font-family: 'Teko', sans-serif;  
    text-align: center;
    color: #fff;
}
    
#option-container {
    width: 75%;
    height: 35%;
    padding: 20px 0;
    margin:1.5rem auto;
    box-sizing: border-box;
    border: solid 3px #ff0000;
    border-radius: 1.5625rem;
/* This stacks the options 2X2 */
    display: grid;
    grid-template-columns: 48% 48%; 
    grid-template-rows: auto auto; 
    grid-gap: 0.4rem; 
    justify-content: space-evenly;        
}

#option-container div {
    border: solid 2px #fff;
    border-radius: 1.5625rem;
    position:relative;
}

.score-counter-area {
    width:100%;
    font-size:1rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.current-score{
    width: 95%;
    position:relative;
    margin-left: 1%;
}
.questions-remaining{
    width: 95%;
}

.running-totals {
    width:98%;
    margin-top: 5%;
    border-radius: 1.5625;
    border: solid 0.5px #000;
    background-color: #fff;
    text-align:center;
}

/*---Final Score Section---*/
.button-break{
    display: block;
}
.final-score{
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    color: #fff;
    margin-bottom: 2%;
    text-align: center;
}
 
.restart-quiz-box {
    width: 48%;
    margin-left: auto;
    margin-right: auto;
}

.answers-restart-box{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

/* Section for Answers */
#answers-container h2{
    color:#fff;
    font-family: 'Teko', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
}

#answers-container p{
    color:#fff;
    font-family: 'Teko', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin-top: 1%;
    position:relative;
}

/* JS Functions */

#username-div {
    display: block;
}

#intro-div, #question-div, #final-score-div, #answers-container, #quiz-div {
    display: none;
}


/* Media Queries */

/*user-input page*/
@media only screen and (max-width: 700px) {
    .heading {
        text-align: center;
        font-size: 2rem;
        letter-spacing: 1rem;
        margin-bottom: 2rem;
        color:blue;
    }
}
@media only screen and (max-width: 460px) {
    .btn {
        width: 20%;
        height: 40%;
        position:relative;
        border-radius: 1.5625rem;
        font-family: 'Teko', sans-serif;
        font-weight: bolder;
        font-size: 0.8rem;
        text-align: center;
    }
}

/* Quiz Section */
@media only screen and (max-width: 900px) {   


.question{
    width: 98%;  
    font-family: 'Teko', sans-serif;  
    text-align: center;
    color: #fff;
    font-size: 2rem;
}
    
#option-container {
    width: 75%;
    height: 70%;
    padding: 20px 0;
    margin:1.5rem auto;
    box-sizing: border-box;
    border: solid 3px #ff0000;
    border-radius: 1.5625rem;
    display: grid;
    grid-template-columns: 48% ; 
    grid-template-rows: auto ; 
    grid-gap: 0.4rem; 
    justify-content: space-evenly;  
    } 

.answer {
    text-align: left;
}

}
@media only screen and (max-width: 825px) {
    .answer {
        font-size:1.2rem;
        
}
#option-container div {
    border: solid 2px #fff;
    border-radius: 1.5625rem;
    width: 75%;
    height:auto;
}
}

@media only screen and (max-width: 750px) {
    .question{
        width: 98%;  
        font-family: 'Teko', sans-serif;  
        text-align: center;
        color: #fff;
        font-size: 1.5rem;
    }
    .answer{
        font-size:1.2rem;
        width: 100%;
        height: 100%;
        position:relative;
        border-radius: 1.5625rem;
        font-family: 'Teko', sans-serif;
        font-weight: bolder;
        text-align: center;
    }
    #option-container {
        width: 75%;
        height: 70%;
        padding: 20px 0;
        margin:1.5rem auto;
        box-sizing: border-box;
        border: solid 3px #ff0000;
        border-radius: 1.5625rem;
        display: grid;
        grid-template-columns: 40% ; 
        grid-template-rows: auto ; 
        grid-gap: 0.4rem; 
        justify-content: space-evenly;  
        } 
}

@media only screen and (max-width: 530px) {
    .score-counter-area {
        width:100%;
        font-size:0.8rem;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }   
    .answer {
        font-size:1.0rem;
    }
}

@media only screen and (max-width: 480px) {
    question{
        width: 98%;  
        font-family: 'Teko', sans-serif;  
        text-align: center;
        color: #fff;
        font-size: 1.2rem;
}
}
@media only screen and (max-width: 430px) {
    .score-counter-area {
        width:100%;
        font-size:0.6rem;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }   
}

/* Final Score Area */
@media only screen and (max-width: 460px) {
#final-restart-btn {
        width: 100%;
        height: 100%;
        position:relative;
        border-radius: 1.5625rem;
        font-family: 'Teko', sans-serif;
        font-weight: bolder;
        font-size: 0.8rem;
        text-align: center;   
}
.restart-quiz-box {
    width: 100%;
    margin-left: 40%;
    margin-right: 50%;
}
}